* {
    box-sizing: border-box;
  }
  
  body {
      margin: 0;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;
  
      
    }

    button {
        margin: 0;
        background-color: darkslategray;
        color: white;
        font-size: 25px;
        border-radius: 2px 2px 2px 2px;
        padding: 10px;
        box-shadow: 10px 10px 32px -12px rgba(0,0,0,0.75);
        font-weight: bold;
    }

    .tabs {
      display: inline;
    }

    
    .container {
        height: 700px;
        border: 1px solid red;
        width: 70%;
        background-image: url(ron-swanson-vote-pic.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 80%;
        
        
      }

    .text {
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
      color: white;
      font-weight: bold;
      border: 3px solid #f1f1f1;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 50%;
      padding: 15px;
      text-align: center;
    }
      